:root {
	--mnHt: 100px;
}

html,body{
	margin: 0;
	padding: 0;
}

/*battle field*/

.you{
	float: left;
	width: 900px;
	height: 940px;
	background: darkred;
	display: inline-block;
}

.oppo{
	//float: right;
	width: 900px;
	height: 940px;
	background: darkblue;
	display: inline-block;
}

.upper-area {
	width: 900px;
	height: 450px;
	min-height: var(--mnHt * 2);
	max-height: var(--mxHt * 2);
	font-size: 1.4em;
}

.played-area {
	float: left;
	width: 780px;
	height: 100%;
	min-height: var(--mnHt * 2);
}

.damage-area {
	float: right;
	width: 120px;
	height: 100%;
	min-height: var(--mnHt * 2);
}

#main-area {
	/*float: left;*/
	width: 100%;
	height: 50%;
	/*min-height: var(--mnHt);*/
	/*margin-right: 13%;*/
	margin-left: 2vw;
	background: lightgreen;
	overflow-y: auto;
}

#support-area {
	/*float: left;*/
	width: 100%;
	height: 50%;
	/*min-height: var(--mnHt);*/
	
	margin-left: 2vw;
	background: lightyellow;
	overflow-y: auto;
}

#point-area {
	width: 100%;
	height: 100%;
	/*min-height: calc(var(--mnHt) * 2);*/
	background: skyblue;
	overflow-y: auto;
	font-size: 1rem;
}

/*remove scrollbar but keep its function ability*/
#point-area::-webkit-scrollbar {
    display: none;
}

/*hand,deck,exclusion...*/

.lower-area {
	width: 900px;
	height: 490px;
	font-size: 1.5em;
}

.hand-area {
	float: left;
	width: 600px;
	height: 100%;
}

.deck-stack{
	float: right;
	width: 240px;
	height: 100%;
}

#hand {
	width: 100%;
	height: 100%;
	margin-left: 2vw;
	background: gray;
	overflow-y: auto;
}

#hand::-webkit-scrollbar {
    display: none;
}

#deck-area {
	float: left;
	width: 50%;
	height: 50%;
	background: orange;
}

#ex-deck-area {
	float: right;
	width: 50%;
	height: 50%;
	background: honeydew;
}

#discard-area {
	float: left;
	width: 50%;
	height: 50%;
	background: mediumslateblue;
}

#excluded-area {
	float: left;
	width: 50%;
	height: 50%;
	background: dodgerblue;
}

.temp-card-area {
	width: 100%;
	height: 600px;
	background: AliceBlue;
}

#temp-card-place {
	width: 700px;
	height: 100%;
}